@tailwind base;
@tailwind components;
@tailwind utilities;


.toggle-line{
  height: 3px;
  width: 120px;
  position: absolute;
  top:33px;
  left: 10px;
  background-color: #00B6AA;
  transition: .3s ease-in-out;
}
.move-line{
  left: 150px;
}

.loader-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.2);
  z-index: 9999;
}