@tailwind base;
@tailwind components;
@tailwind utilities;


.toggle-line{
  height: 3px;
  width: 120px;
  position: absolute;
  top:33px;
  left: 10px;
  background-color: #00B6AA;
  transition: .3s ease-in-out;
}
.move-line{
  left: 150px;

}
